
.body{
	
	font-family: Lato, san-serif;
	font-size: 28px;
	background-color: #000;
	margin:0;
	padding: 0;
	
}

.outer{
	text-align: center;
}

.page{
	margin-top: 10px;
	background-color: #FFFFFF;
	width: 1200px;
	height: 99vh;
	display: inline-block;
	
}
.topofpage{
	background-color:  blue;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 100px;
	
}
.navbar{
	background-color: skyblue;

}
.logo{
	background-color: lavender;
	
}
.search{
	background-color: pink;
	
}